@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@import "def_style/mixin";

.top-content {
    margin-top: 0.5%;
}

.site-title {
    font-family: var(--unbounded);
    font-size: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 18px;
}

.title-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 225px;
    overflow: hidden;
    color: white;
    border-radius: 25px;

    & > * {
        z-index: 2;
    }
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
    width: 100%;

    .button {
        min-width: 415px;
        font-size: 20px;
    }

    .input-field {
        min-width: 199px;
        font-size: 18px;
    }

    .input-field, .button {
        flex: 1;
        min-height: 62px;
    }
}

.results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.results-card {
    padding: 13px;
    border-radius: 10px;
    //border: 1px solid rgb(var(--element-border-color));
    background: rgba(var(--element-color-rgb), 0.63);
    transition: 0.28s all;
    animation: card_spawn 1.2s;

    @include shadow();

    & > p {
        font-size: 17px;
    }
}

.results-title {
    font-family: var(--unbounded);
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 28px;
}

.result-element {
    padding: 10px;
    background: rgb(var(--element-color-rgb));
    border-radius: 7px;
    transition: all 0.35s;
    min-width: 300px;

    &:hover {
        scale: 1.01;
    }

    & p {
        margin-top: 7px;
        font-size: 18px;
    }
}

.title-with-svg {
    display: flex;
    gap: 6px;
    font-size: 22px;

    &[svg-right] {
        & svg {
            margin-left: auto;
        }
    }

    & svg {flex-shrink: 0;}

    & > * {
        display: inline-flex;
    }
}

.flex-results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 7px;

    & > * {
        flex: 1;
    }
}

.topic-link {
    border: 2px solid rgb(var(--element-color-rgb));
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        border-color: rgb(var(--brand-blue));
        color: rgb(var(--brand-blue));
    }
}


@keyframes card_spawn {
    from {
        transform: translateY(30px);
        opacity: 0;
    } to {
        transform: translateY(0px);
        opacity: 1;
    }
}



@media (max-width: 640px) {
    .input-field {
        min-height: 52px;
    }

    .result-element {
        min-width: auto;
    }
}


@media (max-width: 430px) {
    .input-box .button {
        min-width: 210px;
    }
}

@media (max-width: 210px) {
    .input-field {
        min-width: 110px;
    }
}


