@import "mixin";


html, body {
    font-family: var(--nunito);
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 55px;
    line-height: 1.4;
    color: var(--text-color);
}

body {
    background: rgb(var(--bg-color));
}

.container {
    @include elementCenterMargin();
    max-width: 1000px;
    height: 100%;
    width: 100%;
}

#box {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 1%;
}

main {
    flex: 1 1 auto;
    margin-bottom: 20px;
}