@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.modal {
    background: rgba(var(--element-color-rgb), 0.9);
    border: none;
    padding: 15px;
    border-radius: 18px;
    transition: transform 0.65s, opacity 0.65s;
    pointer-events: auto;
    animation: showModal 0.7s ease forwards;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    opacity: 0;
    transform: translateX(100%);

    &.modal-closing {
        animation: closeModal 0.7s ease forwards;
    }

    &::backdrop {
        background: rgba(0, 0, 0, 0.4);
    }
}

@keyframes closeModal {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(120%);
    }
}
@keyframes showModal {
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

#burger-menu {
    height: calc(100dvh - 85px);
    max-width: 280px;
    width: 100%;
    top: 75px;
    margin-right: 5px;
    margin-left: auto;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-family: var(--unbounded);
    margin-bottom: 15px;

    & > * { display: inline-flex; }
}

.close-modal-btn {
    display: inline-flex;
    background: rgba(237, 6, 6, 0.4);
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: all 0.2s;

    @include hover {
        background: rgba(207, 4, 4, 1);
    }
}