:root {
    --text-color: white;
    --bg-color: 17, 16, 19;
    --brand-blue: 65, 116, 237;
    --brand-dark-blue: 50, 106, 236;
    --element-color-rgb: 27, 26, 28;

    --unbounded: "Unbounded", sans-serif;
    --nunito: "Nunito";
}