::selection {
    background-color: rgb(var(--brand-dark-blue));
    color: white;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--brand-blue));
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--brand-dark-blue));
}

@media (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: var(--bg-color);
    }
}