:root {
    --text-color: black;
    --bg-color: #efefef;
    --brand-blue: 65, 116, 237;
    --brand-dark-blue: 50, 106, 236;

    --unbounded: "Unbounded", sans-serif;
    --nunito: "Nunito";
}