::selection {
    background-color: var(--brand-dark-blue);
    color: white;
}

::-webkit-scrollbar {
    width: 7px; /* ширина для вертикального скролла */
    height: 7px; /* высота для горизонтального скролла */
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--brand-blue);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--brand-dark-blue);
}

@media (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 5px; /* ширина для вертикального скролла */
        height: 5px; /* высота для горизонтального скролла */
        background-color: var(--bg-color);
    }
}